<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('partials/header'); %>
</head>
<body>
  
  <%- include('partials/navbar'); %>
  <div class="container-view">
    
    <form action="http://localhost:8080/profile/edit" method="post" enctype="multipart/form-data">

      <div class="form-group">
          <label for="exampleInputEmail1">profile image</label>
          <input type="file" class="form-control" name="profile-image" >
      </div>
      <div class="form-group pt-3">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" name="name" value="<%= req.user.data.name %> " placeholder="Enter a name">
      </div>
      <div class="form-group pt-3">
        <label for="exampleInputEmail1">email</label>
        <input type="email" class="form-control" name="email" value="<%= req.user.data.email%> "  placeholder="Enter a email">
      </div>
      <div class="form-group py-3">
        <label for="exampleInputEmail1">password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter a password if you want to change">
      </div>
      
      
      <% if (err) { %>
        <div class="alert alert-warning" role="alert">
          <%= err.message %> 
        </div>
      <% } %>
      
      <div class=" pt-2 d-grid gap-2">
          <button type="submit" class="btn btn-lg  btn-dark">Update</button>
        </div>
      
    </form>
  </div>
  

  
  <%- include('partials/footer'); %>
</body>
</html>
